In [171]:
pip install pandas

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [172]:
import pandas as pd

In [173]:
results = pd.read_csv("results.csv", index_col=None)

In [174]:
results.head()

,home_team,away_team,home_goals,away_goals,result,season
0,Sheffield United,Liverpool,1,1,D,2006-2007
1,Arsenal,Aston Villa,1,1,D,2006-2007
2,Everton,Watford,2,1,H,2006-2007
3,Newcastle United,Wigan Athletic,2,1,H,2006-2007
4,Portsmouth,Blackburn Rovers,3,0,H,2006-2007

In [175]:
results.shape

(4560, 6)

In [176]:
results["season"].value_counts()

season
2006-2007    380
2007-2008    380
2008-2009    380
2009-2010    380
2010-2011    380
2011-2012    380
2012-2013    380
2013-2014    380
2014-2015    380
2015-2016    380
2016-2017    380
2017-2018    380
Name: count, dtype: int64

In [177]:
results["result"].value_counts()

result
H    2108
A    1288
D    1164
Name: count, dtype: int64

In [178]:
results["away_team"].value_counts()

away_team
Liverpool                   228
Everton                     228
Arsenal                     228
Chelsea                     228
Tottenham Hotspur           228
Manchester United           228
Manchester City             228
West Ham United             209
Stoke City                  190
Sunderland                  190
Aston Villa                 190
Newcastle United            190
West Bromwich Albion        171
Fulham                      152
Swansea City                133
Wigan Athletic              133
Blackburn Rovers            114
Bolton Wanderers            114
Southampton                 114
Hull City                    95
Crystal Palace               95
Norwich City                 76
Middlesbrough                76
Leicester City               76
Watford                      76
Portsmouth                   76
Burnley                      76
AFC Bournemouth              57
Queens Park Rangers          57
Reading                      57
Wolverhampton Wanderers      57
Birmingham City              57
Blackpool                    19
Derby County                 19
Cardiff City                 19
Charlton Athletic            19
Sheffield United             19
Huddersfield Town            19
Brighton and Hove Albion     19
Name: count, dtype: int64

In [179]:
results["home_team"].value_counts()

home_team
Arsenal                     228
Everton                     228
Liverpool                   228
Manchester City             228
Manchester United           228
Chelsea                     228
Tottenham Hotspur           228
West Ham United             209
Aston Villa                 190
Newcastle United            190
Stoke City                  190
Sunderland                  190
West Bromwich Albion        171
Fulham                      152
Swansea City                133
Wigan Athletic              133
Bolton Wanderers            114
Blackburn Rovers            114
Southampton                 114
Hull City                    95
Crystal Palace               95
Watford                      76
Burnley                      76
Leicester City               76
Norwich City                 76
Portsmouth                   76
Middlesbrough                76
AFC Bournemouth              57
Birmingham City              57
Wolverhampton Wanderers      57
Queens Park Rangers          57
Reading                      57
Cardiff City                 19
Brighton and Hove Albion     19
Sheffield United             19
Blackpool                    19
Derby County                 19
Charlton Athletic            19
Huddersfield Town            19
Name: count, dtype: int64

In [180]:
print(results.columns)

Index(['home_team', 'away_team', 'home_goals', 'away_goals', 'result',
       'season'],
      dtype='object')

In [181]:
print(results.head())

          home_team         away_team  home_goals  away_goals result  \
0  Sheffield United         Liverpool           1           1      D
1           Arsenal       Aston Villa           1           1      D
2           Everton           Watford           2           1      H
3  Newcastle United    Wigan Athletic           2           1      H
4        Portsmouth  Blackburn Rovers           3           0      H

      season
0  2006-2007
1  2006-2007
2  2006-2007
3  2006-2007
4  2006-2007

In [182]:
results.columns = results.columns.str.strip()

In [183]:
print(results.head())

          home_team         away_team  home_goals  away_goals result  \
0  Sheffield United         Liverpool           1           1      D
1           Arsenal       Aston Villa           1           1      D
2           Everton           Watford           2           1      H
3  Newcastle United    Wigan Athletic           2           1      H
4        Portsmouth  Blackburn Rovers           3           0      H

      season
0  2006-2007
1  2006-2007
2  2006-2007
3  2006-2007
4  2006-2007

In [184]:
results["season"].value_counts()

season
2006-2007    380
2007-2008    380
2008-2009    380
2009-2010    380
2010-2011    380
2011-2012    380
2012-2013    380
2013-2014    380
2014-2015    380
2015-2016    380
2016-2017    380
2017-2018    380
Name: count, dtype: int64

In [185]:
results.dtypes

home_team     object
away_team     object
home_goals     int64
away_goals     int64
result        object
season        object
dtype: object

In [186]:
results["result_code"] = results["result"].astype("category").cat.codes

In [187]:
results

,home_team,away_team,home_goals,away_goals,result,season,result_code
0,Sheffield United,Liverpool,1,1,D,2006-2007,1
1,Arsenal,Aston Villa,1,1,D,2006-2007,1
2,Everton,Watford,2,1,H,2006-2007,2
3,Newcastle United,Wigan Athletic,2,1,H,2006-2007,2
4,Portsmouth,Blackburn Rovers,3,0,H,2006-2007,2
...,...,...,...,...,...,...,...
4555,Newcastle United,Chelsea,3,0,H,2017-2018,2
4556,Southampton,Manchester City,0,1,A,2017-2018,0
4557,Swansea City,Stoke City,1,2,A,2017-2018,0
4558,Tottenham Hotspur,Leicester City,5,4,H,2017-2018,2
4559,West Ham United,Everton,3,1,H,2017-2018,2

In [188]:
results["opponent_code"] = results["away_team"].astype("category").cat.codes

In [189]:
results

,home_team,away_team,home_goals,away_goals,result,season,result_code,opponent_code
0,Sheffield United,Liverpool,1,1,D,2006-2007,1,19
1,Arsenal,Aston Villa,1,1,D,2006-2007,1,2
2,Everton,Watford,2,1,H,2006-2007,2,34
3,Newcastle United,Wigan Athletic,2,1,H,2006-2007,2,37
4,Portsmouth,Blackburn Rovers,3,0,H,2006-2007,2,4
...,...,...,...,...,...,...,...,...
4555,Newcastle United,Chelsea,3,0,H,2017-2018,2,11
4556,Southampton,Manchester City,0,1,A,2017-2018,0,20
4557,Swansea City,Stoke City,1,2,A,2017-2018,0,30
4558,Tottenham Hotspur,Leicester City,5,4,H,2017-2018,2,18
4559,West Ham United,Everton,3,1,H,2017-2018,2,14

In [190]:
results["target"] = (results["result"] == "H").astype("int")

In [191]:
results["target"] = (results["result"] == "A").astype("int")

In [192]:
results["season"] = results["season"].str.replace("–", "-")

In [193]:
results["season_start"] = results["season"].str.split("-").str[0].astype(int)

In [194]:
results["season_end"] = results["season"].str.split("-").str[1].astype(int)

In [195]:
results["year_code"] = results["season_start"]

In [196]:
results['season_start'] = results['season'].str.split('-').str[0].astype(int)

In [197]:
results['season_end'] = results['season'].str.split('-').str[1].astype(int)

In [198]:
print(results.head())

          home_team         away_team  home_goals  away_goals result  \
0  Sheffield United         Liverpool           1           1      D
1           Arsenal       Aston Villa           1           1      D
2           Everton           Watford           2           1      H
3  Newcastle United    Wigan Athletic           2           1      H
4        Portsmouth  Blackburn Rovers           3           0      H

      season  result_code  opponent_code  target  season_start  season_end  \
0  2006-2007            1             19       0          2006        2007
1  2006-2007            1              2       0          2006        2007
2  2006-2007            2             34       0          2006        2007
3  2006-2007            2             37       0          2006        2007
4  2006-2007            2              4       0          2006        2007

   year_code
0       2006
1       2006
2       2006
3       2006
4       2006

In [199]:
from sklearn.ensemble import RandomForestClassifier

In [200]:
rf = RandomForestClassifier(n_estimators=100, min_samples_split=10, random_state=1)

In [201]:
train = results[results["season"] < '2016-2017']

In [202]:
test = results[results["season"] > '2016-2017']

In [203]:
predictors = ["opponent_code", "season_start", "season_end"]

In [204]:
rf.fit(train[predictors], train["target"])

RandomForestClassifier(min_samples_split=10, random_state=1)

In [205]:
preds = rf.predict(test[predictors])

In [206]:
from sklearn.metrics import accuracy_score

In [207]:
acc = accuracy_score(test["target"], preds)

In [208]:
acc

0.6921052631578948

In [209]:
combined = pd.DataFrame(dict(actual=test["target"], prediction=preds))

In [210]:
print(test["target"].value_counts())

target
0    272
1    108
Name: count, dtype: int64

In [211]:
from collections import Counter
print(Counter(preds))

Counter({np.int64(0): 361, np.int64(1): 19})

In [212]:
importances = rf.feature_importances_
print(importances)

[0.88336888 0.05646579 0.06016533]

In [213]:
print(test["target"].value_counts())
print(train["target"].value_counts())

target
0    272
1    108
Name: count, dtype: int64
target
0    2729
1    1071
Name: count, dtype: int64

In [214]:
pd.crosstab(index=combined["actual"], columns=combined["prediction"])

prediction    0   1
actual
0           258  14
1           103   5

In [215]:
from sklearn.metrics import precision_score

In [216]:
precision_score(test["target"], preds)

np.float64(0.2631578947368421)

In [217]:
grouped_matches = results.groupby("home_team")

In [218]:
group = grouped_matches.get_group("Liverpool")

In [219]:
group

,home_team,away_team,home_goals,away_goals,result,season,result_code,opponent_code,target,season_start,season_end,year_code
18,Liverpool,West Ham United,2,1,H,2006-2007,2,36,0,2006,2007,2006
48,Liverpool,Newcastle United,2,0,H,2006-2007,2,23,0,2006,2007,2006
49,Liverpool,Tottenham Hotspur,3,0,H,2006-2007,2,33,0,2006,2007,2006
72,Liverpool,Blackburn Rovers,1,1,D,2006-2007,1,4,0,2006,2007,2006
93,Liverpool,Aston Villa,3,1,H,2006-2007,2,2,0,2006,2007,2006
...,...,...,...,...,...,...,...,...,...,...,...,...
4466,Liverpool,Newcastle United,2,0,H,2017-2018,2,23,0,2017,2018,2017
4483,Liverpool,Watford,5,0,H,2017-2018,2,34,0,2017,2018,2017
4509,Liverpool,AFC Bournemouth,3,0,H,2017-2018,2,0,0,2017,2018,2017
4524,Liverpool,Stoke City,0,0,D,2017-2018,1,30,0,2017,2018,2017
4553,Liverpool,Brighton and Hove Albion,4,0,H,2017-2018,2,7,0,2017,2018,2017

In [220]:
def rolling_averages(group, cols, new_cols):
    group=group.sort_values("season")
    rolling_stats = group[cols].rolling(3, closed='left').mean()
    group[new_cols] = rolling_stats
    group = group.dropna(subset=new_cols)
    return group

In [221]:
cols = ["home_goals", "away_goals"]
new_cols = [f"{c}_rolling" for c in cols]

In [222]:
new_cols

['home_goals_rolling', 'away_goals_rolling']

In [223]:
rolling_averages(group, cols, new_cols)

,home_team,away_team,home_goals,away_goals,result,season,result_code,opponent_code,target,season_start,season_end,year_code,home_goals_rolling,away_goals_rolling
336,Liverpool,Middlesbrough,2,0,H,2006-2007,2,22,0,2006,2007,2006,2.000000,1.000000
299,Liverpool,Arsenal,4,1,H,2006-2007,2,1,0,2006,2007,2006,2.000000,0.666667
277,Liverpool,Manchester United,0,1,A,2006-2007,0,21,1,2006,2007,2006,2.666667,0.333333
247,Liverpool,Everton,0,0,D,2006-2007,1,14,0,2006,2007,2006,2.000000,0.666667
228,Liverpool,Chelsea,2,0,H,2006-2007,2,11,0,2006,2007,2006,1.333333,0.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4208,Liverpool,Arsenal,4,0,H,2017-2018,2,1,0,2017,2018,2017,1.333333,0.333333
4194,Liverpool,Crystal Palace,1,0,H,2017-2018,2,12,0,2017,2018,2017,1.666667,0.333333
4524,Liverpool,Stoke City,0,0,D,2017-2018,1,30,0,2017,2018,2017,2.000000,0.333333
4346,Liverpool,West Bromwich Albion,0,0,D,2017-2018,1,35,0,2017,2018,2017,1.666667,0.000000
4553,Liverpool,Brighton and Hove Albion,4,0,H,2017-2018,2,7,0,2017,2018,2017,0.333333,0.000000

In [224]:
results_rolling = results.groupby("home_team").apply(lambda x: rolling_averages(x, cols, new_cols))

/var/folders/v4/2nnblk990wb5pz02r91v80m80000gn/T/ipykernel_80678/2056625683.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  results_rolling = results.groupby("home_team").apply(lambda x: rolling_averages(x, cols, new_cols))

In [225]:
results_rolling.index = range(results_rolling.shape[0])

In [226]:
results_rolling

,home_team,away_team,home_goals,away_goals,result,season,result_code,opponent_code,target,season_start,season_end,year_code,home_goals_rolling,away_goals_rolling
0,AFC Bournemouth,Liverpool,1,2,A,2015-2016,0,19,1,2015,2016,2015,0.666667,2.000000
1,AFC Bournemouth,Manchester City,0,4,A,2015-2016,0,20,1,2015,2016,2015,1.000000,2.333333
2,AFC Bournemouth,Swansea City,3,2,H,2015-2016,2,32,0,2015,2016,2015,0.666667,3.333333
3,AFC Bournemouth,Stoke City,1,3,A,2015-2016,0,30,1,2015,2016,2015,1.333333,2.666667
4,AFC Bournemouth,Arsenal,0,2,A,2015-2016,0,1,1,2015,2016,2015,1.333333,3.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4438,Wolverhampton Wanderers,Queens Park Rangers,0,3,A,2011-2012,0,26,1,2011,2012,2011,1.333333,1.666667
4439,Wolverhampton Wanderers,Tottenham Hotspur,0,2,A,2011-2012,0,33,1,2011,2012,2011,0.333333,2.333333
4440,Wolverhampton Wanderers,Fulham,2,0,H,2011-2012,2,15,0,2011,2012,2011,0.333333,2.333333
4441,Wolverhampton Wanderers,Norwich City,2,2,D,2011-2012,1,24,0,2011,2012,2011,0.666667,1.666667
4442,Wolverhampton Wanderers,Everton,0,0,D,2011-2012,1,14,0,2011,2012,2011,1.333333,1.333333

In [227]:
def make_predictions(data, predictors):
    train = data[data["season"] < '2016-2017']
    test=data[data["season"] > '2016-2017']
    rf.fit(train[predictors], train["target"])
    preds = rf.predict(test[predictors])
    combined = pd.DataFrame(dict(actual=test["target"], predicted = preds), index=test.index)
    precision = precision_score(test["target"], preds)
    return combined, precision

In [228]:
combined, precision = make_predictions(results_rolling, predictors + new_cols)

In [229]:
precision

np.float64(0.35)

In [230]:
combined

      actual  predicted
35         0          0
36         0          0
37         0          0
38         1          0
39         0          0
...      ...        ...
4254       1          1
4255       0          0
4256       0          0
4257       1          0
4258       0          0

[374 rows x 2 columns]

In [231]:
combined = combined.merge(results_rolling[["home_team", "away_team", "result", "season"]], left_index=True, right_index=True)

In [232]:
combined

,actual,predicted,home_team,away_team,result,season
35,0,0,AFC Bournemouth,Everton,H,2017-2018
36,0,0,AFC Bournemouth,Crystal Palace,D,2017-2018
37,0,0,AFC Bournemouth,West Bromwich Albion,H,2017-2018
38,1,0,AFC Bournemouth,Tottenham Hotspur,A,2017-2018
39,0,0,AFC Bournemouth,Newcastle United,D,2017-2018
...,...,...,...,...,...,...
4254,1,1,West Ham United,Tottenham Hotspur,A,2017-2018
4255,0,0,West Ham United,Huddersfield Town,H,2017-2018
4256,0,0,West Ham United,Manchester United,D,2017-2018
4257,1,0,West Ham United,Newcastle United,A,2017-2018
4258,0,0,West Ham United,Everton,H,2017-2018

In [233]:
class MissingDict(dict):
    __missing__ = lambda self, key: key

map_values = {
    "Brighton and Hove Albion": "Brighton",
    "Tottenham Hotspur": "Spurs",
    "West Ham United": "West Ham",
    "Wolverhampton Wanderers": "Wolves"
}
mapping = MissingDict(**map_values)

In [234]:
mapping["West Ham United"]

'West Ham'

In [235]:
mapping["Brighton and Hove Albion"]

'Brighton'

In [236]:
combined["new_home_team"] = combined["home_team"].map(mapping)
combined["new_away_team"] = combined["away_team"].map(mapping)

In [237]:
combined["new_home_team"] = combined["home_team"].map(mapping)

In [238]:
combined["new_home_team"] = combined["home_team"].map(mapping)

In [239]:
combined

,actual,predicted,home_team,away_team,result,season,new_home_team,new_away_team
35,0,0,AFC Bournemouth,Everton,H,2017-2018,AFC Bournemouth,Everton
36,0,0,AFC Bournemouth,Crystal Palace,D,2017-2018,AFC Bournemouth,Crystal Palace
37,0,0,AFC Bournemouth,West Bromwich Albion,H,2017-2018,AFC Bournemouth,West Bromwich Albion
38,1,0,AFC Bournemouth,Tottenham Hotspur,A,2017-2018,AFC Bournemouth,Spurs
39,0,0,AFC Bournemouth,Newcastle United,D,2017-2018,AFC Bournemouth,Newcastle United
...,...,...,...,...,...,...,...,...
4254,1,1,West Ham United,Tottenham Hotspur,A,2017-2018,West Ham,Spurs
4255,0,0,West Ham United,Huddersfield Town,H,2017-2018,West Ham,Huddersfield Town
4256,0,0,West Ham United,Manchester United,D,2017-2018,West Ham,Manchester United
4257,1,0,West Ham United,Newcastle United,A,2017-2018,West Ham,Newcastle United
4258,0,0,West Ham United,Everton,H,2017-2018,West Ham,Everton

In [240]:
merged = combined.merge(combined, left_on=["season", "new_home_team"], right_on=["season","away_team"])

In [241]:
merged

,actual_x,predicted_x,home_team_x,away_team_x,result_x,season,new_home_team_x,new_away_team_x,actual_y,predicted_y,home_team_y,away_team_y,result_y,new_home_team_y,new_away_team_y
0,0,0,AFC Bournemouth,Everton,H,2017-2018,AFC Bournemouth,Everton,0,0,Arsenal,AFC Bournemouth,H,Arsenal,AFC Bournemouth
1,0,0,AFC Bournemouth,Everton,H,2017-2018,AFC Bournemouth,Everton,0,0,Brighton and Hove Albion,AFC Bournemouth,D,Brighton,AFC Bournemouth
2,0,0,AFC Bournemouth,Everton,H,2017-2018,AFC Bournemouth,Everton,1,0,Burnley,AFC Bournemouth,A,Burnley,AFC Bournemouth
3,0,0,AFC Bournemouth,Everton,H,2017-2018,AFC Bournemouth,Everton,1,0,Chelsea,AFC Bournemouth,A,Chelsea,AFC Bournemouth
4,0,0,AFC Bournemouth,Everton,H,2017-2018,AFC Bournemouth,Everton,0,0,Crystal Palace,AFC Bournemouth,D,Crystal Palace,AFC Bournemouth
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5964,0,1,West Bromwich Albion,Tottenham Hotspur,H,2017-2018,West Bromwich Albion,Spurs,0,1,Stoke City,West Bromwich Albion,H,Stoke City,West Bromwich Albion
5965,0,1,West Bromwich Albion,Tottenham Hotspur,H,2017-2018,West Bromwich Albion,Spurs,0,1,Swansea City,West Bromwich Albion,H,Swansea City,West Bromwich Albion
5966,0,1,West Bromwich Albion,Tottenham Hotspur,H,2017-2018,West Bromwich Albion,Spurs,0,0,Tottenham Hotspur,West Bromwich Albion,D,Spurs,West Bromwich Albion
5967,0,1,West Bromwich Albion,Tottenham Hotspur,H,2017-2018,West Bromwich Albion,Spurs,0,0,Watford,West Bromwich Albion,H,Watford,West Bromwich Albion
5968,0,1,West Bromwich Albion,Tottenham Hotspur,H,2017-2018,West Bromwich Albion,Spurs,0,1,West Ham United,West Bromwich Albion,H,West Ham,West Bromwich Albion

In [242]:
merged[(merged["predicted_x"] == 1) & (merged["predicted_y"] == 0)]["actual_x"].value_counts()

actual_x
0    369
1    196
Name: count, dtype: int64

In [243]:
7007/7841

0.8936360158143094

In [244]:
7007/7841

0.8936360158143094

In [245]:
results.columns

Index(['home_team', 'away_team', 'home_goals', 'away_goals', 'result',
       'season', 'result_code', 'opponent_code', 'target', 'season_start',
       'season_end', 'year_code'],
      dtype='object')

In [246]:
print(combined.columns)

Index(['actual', 'predicted', 'home_team', 'away_team', 'result', 'season',
       'new_home_team', 'new_away_team'],
      dtype='object')

In [247]:
print(results.columns)

Index(['home_team', 'away_team', 'home_goals', 'away_goals', 'result',
       'season', 'result_code', 'opponent_code', 'target', 'season_start',
       'season_end', 'year_code'],
      dtype='object')

In [248]:
print(merged.columns)

Index(['actual_x', 'predicted_x', 'home_team_x', 'away_team_x', 'result_x',
       'season', 'new_home_team_x', 'new_away_team_x', 'actual_y',
       'predicted_y', 'home_team_y', 'away_team_y', 'result_y',
       'new_home_team_y', 'new_away_team_y'],
      dtype='object')

In [249]:
predictors = ["opponent_code", "season_start", "season_end"] + new_cols

In [250]:
def validate_season(season):
    try:
        start, end = map(int, season.split('-'))
        if start >= end or end != start + 1:
            return False
        if start < 1888 or end > 2100:  # PL started in the year 1888
            return False
        return True
    except ValueError:
        return False

def get_latest_rolling_average(team, is_home): # this was 100% needed to actually make the predictions a little more accurate
    team_data = results_rolling[results_rolling['home_team' if is_home else 'away_team'] == team]
    if team_data.empty:
        return 0  # or some other default value
    return team_data.iloc[-1][f'{"home" if is_home else "away"}_goals_rolling']


def predict_match():
    home_team = home_team_var.get()
    away_team = away_team_var.get()
    season = season_entry.get()

    if not validate_season(season):
        result_label.configure(text="Invalid season format. Use YYYY-YYYY.") # season checker
        probability_label.configure(text="")
        return


    matchup_data = pd.DataFrame({   #DataFrame for the matchup_data
        'home_team': [home_team],
        'away_team': [away_team],
        'season': [season],
        'home_goals_rolling': [get_latest_rolling_average(home_team, True)],  # home_goals_rolling is a part of the index, will not run without these two lines of code
        'away_goals_rolling': [get_latest_rolling_average(away_team, True)],  # specifically, look at results_rolling
    })


    matchup_data['season_start'] = matchup_data['season'].str.split('-').str[0].astype(int)
    matchup_data['season_end'] = matchup_data['season'].str.split('-').str[1].astype(int)
    
    matchup_data['opponent_code'] = results['away_team'].astype('category').cat.codes[results['away_team'] == away_team].iloc[0]


    prediction_proba = rf.predict_proba(matchup_data[predictors]) # prediction using the rf model built using sklearn
    away_win_probability = prediction_proba[0][1]

    print(f"Predicted probabilities: {prediction_proba}")  # show the probabilities

    result = "Away team wins" if away_win_probability > 0.5 else "Home team wins"
    result_label.configure(text=f"Prediction: {result}")
    probability_label.configure(text=f"Probability of away team winning: {away_win_probability:.2f}")

In [251]:
import customtkinter as ctk # thank you Hunter <3

results = pd.read_csv("results.csv", index_col=None)
results["season"] = results["season"].str.replace("–", "-")
results['season_start'] = results['season'].str.split('-').str[0].astype(int)
results['season_end'] = results['season'].str.split('-').str[1].astype(int)

root = ctk.CTk()
root.title("Match Predictor")

ctk.set_appearance_mode("System") 
ctk.set_default_color_theme("blue") 

home_team_label = ctk.CTkLabel(root, text="Home Team:")
home_team_label.grid(row=0, column=0, padx=5, pady=5)

home_teams = sorted(results['home_team'].unique())
home_team_var = ctk.StringVar()
home_team_dropdown = ctk.CTkComboBox(root, variable=home_team_var, values=home_teams)
home_team_dropdown.grid(row=0, column=1, padx=5, pady=5)

away_team_label = ctk.CTkLabel(root, text="Away Team:")
away_team_label.grid(row=1, column=0, padx=5, pady=5)

away_teams = sorted(results['away_team'].unique())
away_team_var = ctk.StringVar()
away_team_dropdown = ctk.CTkComboBox(root, variable=away_team_var, values=away_teams)
away_team_dropdown.grid(row=1, column=1, padx=5, pady=5)

season_label = ctk.CTkLabel(root, text="Season (e.g., 2023-2024):")
season_label.grid(row=2, column=0, padx=5, pady=5)

season_entry = ctk.CTkEntry(root)
season_entry.grid(row=2, column=1, padx=5, pady=5)

predict_button = ctk.CTkButton(root, text="Predict", command=predict_match)
predict_button.grid(row=3, column=0, columnspan=2, padx=5, pady=5)

result_label = ctk.CTkLabel(root, text="")
result_label.grid(row=4, column=0, columnspan=2, padx=5, pady=5)

probability_label = ctk.CTkLabel(root, text="")
probability_label.grid(row=5, column=0, columnspan=2, padx=5, pady=5)

root.mainloop()

Predicted probabilities: [[0.80656855 0.19343145]]
Predicted probabilities: [[0.62407445 0.37592555]]
Predicted probabilities: [[0.62134105 0.37865895]]
Predicted probabilities: [[0.50257825 0.49742175]]
Predicted probabilities: [[0.51125833 0.48874167]]
Predicted probabilities: [[0.80094594 0.19905406]]
Predicted probabilities: [[0.58524375 0.41475625]]
Predicted probabilities: [[0.58524375 0.41475625]]
Predicted probabilities: [[0.41368632 0.58631368]]

In [252]:
acc

0.6921052631578948